.container {
    display: flex;
    flex-direction: row;
}

.filters {
    width: 25%;
    margin-top: 50px;
    border-radius: 20px;
}

.cardContainer {
    height: 730px;
    margin: 50px 0px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 330px;
    grid-auto-flow: row;
    grid-gap: 15px;
    overflow: scroll;
    overflow-x: hidden;
}

@media screen and (max-width: 900px) {
    .cardContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 610px) {
    .cardContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #3f3f3f;
}

::-webkit-scrollbar-thumb {
    background-color: #8f8f8f;
    border-radius: 20px;
}