#video {
    object-fit: cover;
    /**/
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
.container {
    height: 100vh;
    width: 100%;
}

.videoText {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    left: 0;
    top: 42vh;
}

.videoButtons {
    margin-top: 20px;
}

.videoButtons a {
    background-color: rgba(0, 0, 0, 0);
    padding: 10px 20px;
    border: 1px solid white;
}

.videoButtons a:hover {
    background-color: rgba(255, 255, 255, 0.2)
}