.container {
    padding: 15px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.navMenu {
    display: flex;
    max-height: 820px;
}

.navMenu li:hover {
    text-shadow: 1px 2px 2px;
}

.navMenu li {
    margin: 0px 10px;
}

.hamburger {
    display: none;
}

@media screen and (max-width: 700px) {
    .hamburger {
        display: block;
    }

    .navMenu {
        height: 100vh;
        width: 100vw;
        display: flex;
        position: absolute;
        left: -100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.8);
        font-size: 1.5rem;
        transition: 0.5s;
        z-index: -1;
    }

    .navMenuShow {
        left: 0;
    }

    .navMenu li {
        padding: 15px 0;
    }
}