.containerMenu {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.menuLogo {
    position: absolute;
    left: 0;
    width: 25%;
    height: 80px;
    background-color: rgb(155, 44, 44);
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

.menuItems {
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.binance {
    position: relative;
    margin-top: 3px;
}
.binance b {
    position: absolute;
    left: 35%;
    top: 25%;
}

.BTCETH {
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
}

.build {
    margin: auto;
    position: relative;
    width: 100px;
    padding: 5px 0px;
}
@media screen and (max-width: 700px){
    .build {
        display: none;
    }
}
.buildBody {
    width: 200px;
    height: 115px;
    background-color: rgba(30,144,255, 0.5);
    border-radius: 20px;
    position: absolute;
    top: -140px;
    left: -50px;
}

.menuItem {
    display: inline-block;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    position: relative;
    transform: scale(1.1);
}

.buildItem {
    width: 35%;
        text-align: center;
}

.menuItem:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.menuItem p {
    position: absolute;
    padding: 15px 15px 15px 10px;
    color: rgba(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    top: 0px;
}

.menuItem img {
    transform: scale(1.2);
}